/* marquee animation driven by js

/* WOW ----------------------------------------*/

@keyframes wow {
    0% {
        transform: scale(1) rotate(-7deg);
    }
    50% {
        transform: scale(1.15) rotate(7deg);
    }
    100% {
        transform: scale(1) rotate(-7deg);
    }
}

/* only used in hero 'wow' */
.animate-wow {
    animation: wow 1s linear infinite;
}



/* TEETER ----------------------------------------*/

@keyframes teeter {
    0% {
        transform: rotate(-7deg);
    }
    50% {
        transform: rotate(7deg);
    }
    100% {
        transform:  rotate(-7deg);
    }
}

@keyframes teeter-left {
    0% {
        transform: rotate(-7deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform:  rotate(-7deg);
    }
}

@keyframes teeter-right {
    0% {
        transform: rotate(7deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform:  rotate(7deg);
    }
}

.animate-teeter {
    animation: teeter 2s ease-in-out infinite;
}
.animate-teeter--1 {
    animation-delay: 0s;
}
.animate-teeter--2 {
    animation-delay: 1s;
}

/* specific to dog can cat head 'voices' */
.animate-teeter--TL {
    animation: teeter-left 0.75s linear infinite;
    transform-origin: bottom right;
}
.animate-teeter--TR {
    animation: teeter-right 0.75s linear infinite;
    transform-origin: top left;
}
.animate-teeter--BL {
    animation: teeter-right 0.75s linear infinite;
    transform-origin: bottom right;
}
.animate-teeter--BR {
    animation: teeter-left 0.75s linear infinite;
    transform-origin: bottom left;
}
