:root {
    --c-blue:           #052096ff;
    --c-orange:         #ED5E37ff;
    --c-orange-faded:   #ED5E3780;
    --c-neon:           #DCFF48ff;
    --c-neon-faded:     #DCFF4880;

    --f-size:           32px;
    --f-normal:         titling-gothic-fb, sans-serif;
    --f-extended:       titling-gothic-fb-extended, sans-serif;
    --f-wide:           titling-gothic-fb-wide, sans-serif;
    --lh1:              1.45em;
    --lh2:              1.2em;

    --border:           3px solid var(--c-neon);

    --max-width:        1200px;

    --base:             25px;
    /* base / max font-size */
    --calc-base:        calc(25 / 32);
    /* calculations adding in 'rem' */
    --calc-b-half:      calc(0.5rem * var(--calc-base));
    --calc-b1:          calc(1rem * var(--calc-base));
    --calc-b1-half:     calc(1.5rem * var(--calc-base));
    --calc-b2:          calc(2rem * var(--calc-base));
    --calc-b2-half:     calc(2.5rem * var(--calc-base));
    --calc-b3:          calc(3rem * var(--calc-base));
    --calc-b4:          calc(4rem * var(--calc-base));
    --calc-b5:          calc(5rem * var(--calc-base));
    --calc-b6:          calc(6rem * var(--calc-base));
    --calc-b7:          calc(7rem * var(--calc-base));
    --calc-b8:          calc(8rem * var(--calc-base));
    --calc-b9:          calc(9rem * var(--calc-base));
    --calc-b10:         calc(10rem * var(--calc-base));
}

/*  The box widths max out at 1200px, which for font sizes is 28px.
    However, everything is calculated against 32px from the intial design at 1440px.
    This is why 32px is the REM base and defined in the root, even though it gets overwritten immediately by the media query
 */

/* a standard size */
@media (min-width: 1177px) {
    :root {
        --f-size: 28px;
    }
}
/* ---- an inbetween size */
@media (max-width: 1176px) {
    :root {
        --f-size: 27px;
    }
}
/* ---- an inbetween size */
@media (max-width: 1128px) {
    :root {
        --f-size: 26px;
    }
}
/* a standard size */
@media (max-width: 1080px) {
    :root {
        --f-size: 25px;
    }
}
/* a standard size */
@media (max-width: 1024px) {
    :root {
        --f-size: 24px;
    }
}
/* used as the largest mobile style */
/* a standard size */
@media (max-width: 960px) {
    :root {
        --f-size: 28px;
        --border: 2px solid var(--c-neon);
        --base: 20px;
        --max-width: 768px;
        /* base / min font-size */
        --calc-base: calc(20 / 20);
    }
}
/* ---- an inbetween size */
@media (max-width: 896px) {
    :root {
        --f-size: 27px;
    }
}
/* ---- an inbetween size */
@media (max-width: 832px) {
    :root {
        --f-size: 26px;
    }
}
/* a standard size */
@media (max-width: 768px) {
    :root {
        --f-size: 25px;
    }
}
/* ---- an inbetween size */
@media (max-width: 672px) {
    :root {
        --f-size: 24px;
    }
}
/* ---- an inbetween size */
@media (max-width: 576px) {
    :root {
        --f-size: 23px;
    }
}
/* a standard size */
@media (max-width: 480px) {
    :root {
        --f-size: 22px;
    }
}
/* a standard size */
@media (max-width: 414px) {
    :root {
        --f-size: 21px;
    }
}
/* a standard size */
@media (max-width: 375px) {
    :root {
        --f-size: 20px;
    }
}



/* ELEMENTS (MORE STRUCTURAL) ----------------------------------------*/

* {
    box-sizing: border-box;
}

html, body {
    color: var(--c-neon);
    background-color: var(--c-blue);
    margin: 0;
    padding: 0;
    font-size: var(--f-size);
    font-family: var(--f-normal);
    line-height: var(--lh1);
    font-style: normal;
    font-weight: 300;
    text-align: center;
    overflow-x: hidden;
}
body {
    margin-right: auto;
    margin-left: auto;
}
img {
    height: auto;
    display: block;
}
ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer,
section {
    margin: var(--calc-b2) auto;
    padding: 0 var(--calc-b2);
    max-width: var(--max-width);
}
/* fixes an overflow issue with the ribbon marquees */
main {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: var(--calc-b3);
}
figure {
    margin: 0;
}

@media (max-width: 960px) {
    /* 20px root font-size for smallest size */
    footer,
    section {
        padding: 0 var(--calc-b1);
    }
    main {
        padding-top: var(--calc-b1-half);
    }
}

/* ELEMENTS (MORE TEXTUAL) ----------------------------------------*/

p {
    margin-top: var(--calc-b1-half);
    margin-bottom: var(--calc-b1);
}
a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0.03125em solid var(--c-neon-faded);
}
a:hover,
a:active,
a:focus {
    color: var(--c-orange);
    border-bottom-color: var(--c-orange-faded);
}

big {
    font-size: 1.4em;
    line-height: var(--lh1);
}

blockquote {
    /* font-size: 26px; */
    font-size: 0.8125rem;
    line-height: var(--lh1);
    margin: 0;
}

figcaption {
    /* font-size: 19px; */
    font-size: 0.59375rem;
    line-height: var(--lh1);
}

cite {
    font-family: var(--f-extended);
    font-weight: 500;
    font-style: normal;
    /* font-size: 16px; */
    font-size: 0.5rem;
    line-height: 2em;
    text-transform: uppercase;
}

address {
    font-style: normal;
    /* margin-top: -25px; */
    margin-top: calc(var(--calc-b1) * -1);
}

body > footer {
    /* font-size: 20px; */
    font-size: 0.625rem;
    line-height: var(--lh1);
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

h1, h2, h3, h4, h5, h6, aside {
    font-family: var(--f-wide);
    font-weight: bold;
    line-height: var(--lh2);
    text-transform: uppercase;
    margin: 0;
}

h1 {
    /* surrounds logo; ignored */
}
h2 {
    /* font-size: 34px; */
    font-size: 1.0625rem;
}
h2 big {
    font-size: 1.1em;
    line-height: var(--lh2);
    font-weight: 900;
}
h3 {
    /* font-size: 74px; */
    font-size: 2.3125rem;
}
h4 {
    /* font-size: 28px; */
    font-size: 0.875rem;
    /* margin-top: 50px; */
    margin-top: var(--calc-b2);
}
h5 {
    /* font-size: 20px; */
    font-size: 0.625rem;
    /* margin-top: 25px; */
    margin-top: var(--calc-b1);
}
h6 {
    /* font-size: 24px; */
    font-size: 0.75rem;
}
aside {
    /* font-size: 18px; */
    font-size: 0.5625rem;
    line-height: var(--lh2);
}

@media (max-width: 960px) {
    /* numbers are based on the mobile design which is the phone size
       and the root font-size is 20px */

    p {
        margin-top: var(--calc-b1);
    }
    a {
        border-width: 0.09375em;
    }
    figcaption {
        /* based on 12px */
        font-size: 0.6rem;
    }
    h2 {
        /* based on 24px */
        font-size: 1.2rem;
    }
    h3 {
        /* based on 44px */
        font-size: 2.2rem;
    }
    h4 {
        /* based on 20px */
        font-size: 1rem;
    }
    h5, h6, blockquote {
        /* based on 16px */
        font-size: 0.8rem;
    }
    aside {
        /* based on 14px */
        font-size: 0.7rem;
    }
    body > footer {
        /* based on 15px */
        font-size: 0.75rem;
    }
}



/* COMMON ----------------------------------------*/

.bordered {
    border: var(--border);
}

.rotate-left-sm {
    transform: rotate(-7deg);
}
.rotate-right-sm {
    transform: rotate(7deg);
}
.rotate-left-md {
    transform: rotate(-12deg);
}
.rotate-right-md {
    transform: rotate(12deg);
}

.sr-only {
    display: block;
    position: absolute;
    left: -3000px;
    top: 0;
    pointer-events: none;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: center;
}
.grid--has-gaps {
    grid-column-gap: var(--calc-b2);
         column-gap: var(--calc-b2);
    grid-row-gap: var(--calc-b2);
         row-gap: var(--calc-b2);
}

.constrain-md,
.constrain-sm {
    margin-left: auto;
    margin-right: auto;
}
.constrain-md {
    max-width: 32rem;
}
.constrain-sm {
    max-width: 25rem;
}

.not-touch-enabled .hover-oval {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.not-touch-enabled .hover-oval::after {
    content: '';
    position: absolute;
    left: -3000px;
    border-radius: 50%;
    background: var(--c-blue);
    border: 1px solid var(--c-neon);
    padding: var(--calc-b-half) var(--calc-b1-half);
    white-space: nowrap;
    font-size: 0.5rem;
    color: var(--c-neon);
}
.not-touch-enabled .hover-oval:hover::after {
    left: auto;
}

@media (max-width: 960px) {
    /* 20px root font-size for smallest size */
    .constrain-md,
    .constrain-sm {
        max-width: var(--max-width);
    }
}
