/* IMAGE SIZING ----------------------------------------*/

.icon {
    display: inline-block;
    height: var(--lh1);
    vertical-align: text-bottom;
}
.img-logo {
    /* initial image 872px */
    /* max-width: 436px; */
    max-width: 13.625rem;
}
.img-POP-icon {
    /* initial image 432px */
    /* max-width: 216px; */
    max-width: 6.75rem;
}
.img-arrow {
    /* initial image 226px */
    /* max-width: 113px; */
    max-width: 3.53125rem;
}
.img-tim {
    /* initial image 1184px */
    /* max-width: 592px; */
    max-width: 18.5rem;
}
.img-doggy-on-bed {
    /* initial image 2040px */
    /* max-width: 1020px; */
    max-width: 31.875rem;
}
.img-earth {
    /* initial image 258px */
    /* max-width: 129px; */
    max-width: 4.03125rem;
}
.img-bag-clean,
.img-bag-trash {
    /* initial image 1136px */
    /* max-width: 568px; */
    width: 17.75rem;
    max-width: 100%;
}
.img-cathead {
    /* initial images 370px */
    /* max-width: 185px; */
    max-width: 5.78125rem;
}
.img-doghead {
    /* initial images 463px */
    /* max-width: 231.5px; */
    max-width: 7.234375rem;
}
.img-insta {
    /* initial image 1080px */
    /* max-width: 540px; */
    width: 16.875rem;
    max-width: 100%;
}
.video-sham {
    /* width: 640px; */
    width: 20rem;
    /* height: 427px; */
    height: 13.34375rem;
}

@media (max-width: 960px) {
    /* 20px root font-size for smallest size */
    .img-logo {
        /* max-width: 273px; NEW VALUE */
        max-width: 13.65rem;
    }
    .img-POP-icon {
        /* max-width: 216px; */
        max-width: 10.8rem;
    }
    .img-arrow {
        /* max-width: 85px; */
        max-width: 4.25rem;
    }
    .img-tim {
        /* old value ok */
    }
    .img-doggy-on-bed {
        /* max-width: 550px; NEW VALUE */
        max-width: 27.5rem;
    }
    .img-earth {
        /* max-width: 89px; NEW VALUE */
        max-width: 4.45rem;
    }
    .img-bag-clean,
    .img-bag-trash {
        /* max-width: 568px; */
        width: 28.4rem;
    }
    .img-cathead {
        /* max-width: 120px; NEW VALUE */
        max-width: 6rem;
    }
    .img-doghead {
        /* max-width: 160px; NEW VALUE */
        max-width: 8rem;
    }
    .img-insta {
        /* max-width: 540px; */
        width: 27rem;
    }
    .video-sham {
        /* width: 640px; NEW VALUE */
        width: 100vw;
        max-width: 640px;
        /* height: 427px; */
        height: 66.71875vw;
        max-height: 427px;
    }
}
// @media (max-width: 576px) {
//     .img-doggy-on-bed {
//         max-width: 110%;
//     }
// }

@media (max-width: 480px) {
    .img-tim {
        max-width: 100%;
    }
}


/* MARQUEE ----------------------------------------*/

.marquee {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    align-content: center;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    font-family: var(--f-extended);
    font-weight: 900;
    line-height: var(--calc-b2);
}
.marquee--fixed-top,
.marquee--fixed-bottom {
    position: fixed;
    z-index: 10;
    height: var(--calc-b2);
    background: var(--c-blue);
}
.marquee--fixed-top {
    top: 0;
    border-bottom: var(--border);
}
.marquee--fixed-bottom {
    bottom: 0;
    border-top: var(--border);
}
.marquee3k__wrapper,
.marquee3k__copy {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

@media (max-width: 960px) and (min-width: 768px) {
    /* 20px root font-size for smallest size */
    .marquee {
        font-size: 0.5em;
        line-height: var(--calc-b1-half);
    }
    .marquee--fixed-top,
    .marquee--fixed-bottom {
        height: var(--calc-b1-half);
    }
}



/* BURST SECTION ----------------------------------------*/

.burst {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.burst--orange,
.burst--outline {
    /* initial image 464px */
    /* width: 232px; */
    width: 7.25rem;
    /* height: 181px; */
    height: 5.65625rem;
}
.burst--orange {
    background-image: url('../img/burst-orange.png');
}
.burst--outline {
    background-image: url('../img/burst-outline.png');
    color: var(--c-orange);
}
.burst--neon {
    background-image: url('../img/burst-neon.png');
    /* initial image 478px */
    /* width: 239px; */
    width: 7.46875rem;
    /* height: 173px; */
    height: 5.40625rem;
    color: var(--c-orange);
}
.burst__words {
    display: inline-block;
    /* margin: 0 30px; */
    margin: 0 0.9375rem;
}

@media (max-width: 960px) {
    /* 20px root font-size for smallest size */
    .burst--outline {
        /* using the 'burst-outline-mobile.png' 336px width/ 264pxheight to figure out mobile sizing requirements
        /* width: 168px; */
        width: 8.4rem;
        /* height: 132px; */
        height: 6.6rem;
    }
    .burst--orange {
        /* using the smaller mobile widths */
        /* width: 158px; */
        width: 7.9rem;
        /* height: 123px; */
        height: 6.15rem;
    }
    .burst--outline {
        background-image: url('../img/burst-outline-mobile.png');
    }
    .burst--neon {
        margin: var(--calc-b1) auto;
        display: flex;
    }
}



/* HERO SECTION ----------------------------------------*/

.hero__grid {
    align-items: flex-start;
    grid-template-columns: min-content auto;
}
.hero__logo {
    position: relative;
    z-index: 1;
    margin: 0 auto;
}
.hero__video-wrapper {
    margin: 0 auto;
}

.hero__title,
.hero__text {
    margin-top: calc(var(--calc-b1) * -1);
}

.not-touch-enabled .hover-oval.hero__video-wrapper::after {
    content: 'Click to Play';
}


@media (max-width: 960px) {
    /* 20px root font-size for smallest size */
    .hero__content {
        max-width: var(--max-width);
    }
    .hero__grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .hero__title {
        margin-top: var(--calc-b2);
    }
    .hero__text {
        margin-top: 0;
    }

}



/* ARROW SECTION ----------------------------------------*/

.arrow {
    text-align: left;
    margin-top: calc(var(--calc-b4) * -1);
}
.arrow__img {
    display: block;
}
.arrow__text {
    color: var(--c-orange);
    margin-top: var(--calc-b1);
    text-align: center;
    display: inline-block;
}

@media (max-width: 960px) {
    /* 20px root font-size for smallest size */
    .arrow {
        margin-top: 0;
        margin-left: 0;
        padding: var(--calc-b-half) 0 var(--calc-b1);
    }
}



/* TIM SECTION ----------------------------------------*/

.tim__grid {
    margin-top: var(--calc-b4);
    grid-template-columns: min-content auto;
    grid-template-row: auto;
    grid-template-areas:
        "figure quote";
}
.tim__figure {
    grid-area: figure;
    border: var(--border);
    background: var(--c-neon);
}
.tim__caption {
    text-align: left;
    /* margin: 5px 10px; */
    margin: 0.15625rem 0.3125rem;
    color: var(--c-blue);
}
.tim__quote {
    display: flex;
    grid-area: quote;
    background: transparent no-repeat center/contain url('../img/speach-bubble.png');
    /* initial image 996px */
    /* width: 498px; */
    width: 15.5625rem;
    /* height: 366px; */
    height: 11.4375rem;
    margin-left: calc(var(--calc-b3) * -1);
    display: flex;
    align-items: center;
    padding: var(--calc-b2);
    padding-bottom: var(--calc-b2-half);
}

@media (max-width: 960px) {
    /* 20px root font-size for smallest size */
    .tim__title {
        margin-top: calc(var(--calc-b-half) * -1);
    }
    .tim__grid {
        margin-top: var(--calc-b2);
        justify-items: center;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas:
             "quote"
             "figure";
    }
    .tim__figure {
        margin-top: calc(var(--calc-b1) * -1);
    }
    .tim__quote {
        margin: 0;
        padding-bottom: var(--calc-b2);
    }
}



/* RIBBON SECTION ----------------------------------------*/

.ribbon-section {
    margin: var(--calc-b6) auto 0;
    height: var(--calc-b8);
}
.ribbon {
    position: absolute;
    left: -200%;
    height: var(--calc-b3);
    width: 500%;
    border: var(--border);
    line-height: var(--calc-b3);
    display: flex;
    align-content: center;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}
.ribbon--neon {
    z-index: 1;
    transform: rotate(1.5deg);
    color: var(--c-blue);
    background: var(--c-neon);
}
.ribbon--blue {
    z-index: 2;
    transform: rotate(-9deg);
    color: var(--c-orange);
    background: var(--c-blue);
}

@media (max-width: 960px) {
    /* 20px root font-size for smallest size */
    .ribbon-section {
        height: var(--calc-b6);
    }
    .ribbon {
        height: var(--calc-b2);
        line-height: var(--calc-b2);
    }
}



/* DOGGY SECTION ----------------------------------------*/

.doggy {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    max-width: 100%;
}
.doggy__happy-earth,
.doggy__burst1,
.doggy__burst2 {
    position: absolute;
}
.doggy__happy-earth {
    right: 0;
    top: 0;
    height: auto;
}
.doggy__burst1 {
    left: 5%;
    top: 15%;
}
.doggy__burst2 {
    right: 10%;
    bottom: 15%;
}

@media (max-width: 960px) {
    /* 20px root font-size for smallest size */
    .doggy-section {
        overflow: hidden;
    }
    .doggy {
        margin-top: var(--calc-b1);
        margin-bottom: var(--calc-b3);
    }
    .doggy__img {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .doggy__happy-earth {
        right: 0;
        top: -5%;
    }
    .doggy__burst1,
    .doggy__burst2 {
        /* using 12px */
        font-size: 0.6rem;
    }
    .doggy__burst1 {
        left: 0;
        top: 0;
    }
    .doggy__burst2 {
        right: 0;
        bottom: 0;
    }
}



/* QUIPS SECTION (testamonials) ----------------------------------------*/

.quips-section {
    margin-top: var(--calc-b6);
    margin-bottom: var(--calc-b6);
    background: var(--c-neon);
    color: var(--c-blue);
    max-width: none;
}
.quips__title,
.quips__grid {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}
.quips__title {
    z-index: 1;
    line-height: 0.7em;
    height: 1em;
    white-space: nowrap;
    margin-left: -2rem;
}
.quips__grid {
    grid-template-columns: repeat(3, 1fr);
}
.quips__quote {
    /* margin-bottom: 5px; */
    margin-bottom: 0.15625rem;
}
.quips__cite {
    display: block;
    margin-bottom: var(--calc-b2);
}

@media (max-width: 960px) {
    /* 20px root font-size for smallest size */
    .quips-section {
        margin-top: var(--calc-b4);
        padding-bottom: var(--calc-b-half);
    }
    .quips__grid {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
    }
    .quips__quote {
        margin-top: var(--calc-b1);
        margin-bottom: 0;
    }
    .quips__cite {
        margin-bottom: var(--calc-b1);
    }
}



/* BAGS & ANIMAL HEADS ----------------------------------------*/

.bags__grid {
    padding: var(--calc-b1) 0;
    grid-template-columns: auto auto;
}

.animalhead__grid {
    padding-bottom: var(--calc-b2);
    grid-template-columns: repeat(4, auto);
}
.animalhead__sound {
    display: block;
    margin: var(--calc-b2) 0;
    color: var(--c-orange);
}
.animalhead__sound--meow1,
.animalhead__sound--bow {
    margin-top: 0;
}
.animalhead__sound--meow2,
.animalhead__sound--wow {
    margin-bottom: 0;
}

@media (max-width: 960px) {
    /* 20px root font-size for smallest size */
    .bags__grid {
        width: calc(100% - var(--calc-b2));
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-column-gap: var(--calc-b1);
             column-gap: var(--calc-b1);
        grid-row-gap: var(--calc-b1);
             row-gap: var(--calc-b1);
    }

    .animalhead__grid {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-column-gap: 0;
             column-gap: 0;
        grid-row-gap: 0;
             row-gap: 0;
    }
}



/* SHAME ----------------------------------------*/

.shame {
    padding-top: var(--calc-b1);
}
.shame__grid {
    align-items: stretch;
    margin-bottom: var(--calc-b1);
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
        "title-dl      title-copy"
        "insta-graphic insta-text";
}
.shame__title-dl {
    grid-area: title-dl;
}
.shame__title-copy {
    grid-area: title-copy;
}
.shame__insta-graphic,
.shame__insta-wrapper {
    display: flex;
    margin: calc(var(--calc-b1) * -1) 0 0;
    position: relative;
}
.shame__insta-graphic {
    grid-area: insta-graphic;
}
.shame__insta-wrapper {
    grid-area: insta-text;
    padding: var(--calc-b1);
    background: var(--c-neon);
    color: var(--c-orange);
}
.shame__insta-text {
    display: flex;
    align-self: center;
    font-size: 0.95em;
    line-height: var(--lh1);
    margin: 0;
}

// .not-touch-enabled .hover-oval.shame__insta-graphic::after {
//     content: 'Click to Copy Image';
// }
// .not-touch-enabled .hover-oval.shame__insta-wrapper::after {
//     content: 'Click to Copy Text';
// }

@media (max-width: 960px) {
    /* 20px root font-size for smallest size */
    .shame__grid {
        max-width: calc(var(--max-width) * 0.67);
        margin-bottom: var(--calc-b3);
        grid-template-columns: auto;
        grid-template-rows: auto 1fr auto 1fr;
        grid-template-areas:
            "title-dl"
            "insta-graphic"
            "title-copy"
            "insta-text";
    }
    .shame__insta-text {
        font-size: 1.1rem;
    }
}

@media (max-width: 576px) {
    .shame__insta-text {
        font-size: 1rem;
    }
}


/* DONATE ----------------------------------------*/

.donate {
    position: relative;
    margin: 0 auto var(--calc-b3);
    padding: var(--calc-b2) 0;
}
.donate__burst1,
.donate__burst2 {
    position: absolute;
}
.donate__burst1 {
    top: 10%;
    left: 0;
}
.donate__burst2 {
    right: 0;
    bottom: 5%;
}

@media (max-width: 960px) {
    /* 20px root font-size for smallest size */
    .donate {
        padding: var(--calc-b6) 0;
    }
    .donate__burst1 {
        top: 0;
        left: calc(var(--calc-b2-half) * -1);
    }
    .donate__burst2 {
        bottom: 0;
        right: calc(var(--calc-b3) * -1);
    }
}


/* FOOTER ----------------------------------------*/

.footer__insta-handle {
    /* based on 20px at smallest size */
    display: inline-block;
    line-height: var(--lh2);
}
.footer__grid {
    grid-template-columns: auto max-content auto;
    grid-template-rows: auto;
    grid-template-areas:
        "calphalon icon gratitude";
    align-items: flex-end;
    justify-content: stretch;
    margin-top: var(--calc-b5);
}
.footer__calphalon {
    grid-area: calphalon;
    text-align: left;
}
.footer__icon {
    grid-area: icon;
    display: block;
    margin-bottom: var(--calc-b1);
}
.footer__gratitude {
    grid-area: gratitude;
    text-align: right;
}


@media (max-width: 960px) {
    /* 20px root font-size for smallest size */

    .footer__insta-handle {
        font-size: 5vw;
    }
    .footer__grid {
        justify-content: center;
        justify-items: center;
        grid-template-columns: max-content;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "icon"
            "calphalon"
            "gratitude";
    }
    .footer__calphalon,
    .footer__gratitude {
        text-align: center;
    }
}
