:root {
    --c-blue:   #052096;
    --c-neon:   #DCFF48;
    --c-orange: #ED5E37;
    --c-red:    #7E321E;

    --f-normal:     titling-gothic-fb, sans-serif;
    --f-extended:   titling-gothic-fb-extended, sans-serif;
    --f-wide:       titling-gothic-fb-wide, sans-serif;
    --fs-sm:        18px;
    --fs-md:        26px;
    --lh1:        1.2em;
    --lh2:        1.45em;

    --border:   3px solid var(--c-neon);

}

* {
    box-sizing: border-box;
}

html, body {
    color: var(--c-neon);
    background-color: var(--c-blue);
    margin: 0;

    /* using normal paragraph styles */
    font-size: 32px;
    line-height: var(--lh1);
    font-family: var(--f-normal);
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    text-align: center;
}

h1, h1, h3, h4, h5, h6 {
    margin: 0;
    font-family: var(--f-wide);
    font-weight: 700;
    text-transform: uppercase;
}

/* h1 is just over the logo */
h1 {}

/* h2 is the footer title */
h2 {
    font-size: 74px;
}
/* h3 are .title */
h3 {
    font-size: 34px;
}

/* affixed marquees up top */
h4 {
    font-family: var(--f-extended);
    font-weight: 900;
    font-size: 18px;
}
/* marquee midway through */
h5 {
    font-size: 24px;
    border: var(--border);
}
/* calphalon */
h6 {
    font-size: 20px;
    line-height: var(--lh2);
}

.fs-sm {
    font-size: var(--fs-sm);
    line-height: var(--lh2);
}
.fs-md {
    font-size: var(--fs-sm);
    line-height: var(--lh2);
}

button {
    border-radius: 30px;
    padding: 1em 4em;
    border: var(--border);
    box-shadow: -10px 0 0 0 var(--c-red), 0 10px 0 0 var(--c-red), -10px 10px 0 0 var(--c-red);
    position: relative;
    left: 0;
    top: 0;
    background-color: var(--c-orange);
    outline: none;
    font-size: 38px;
}
button:active {
    box-shadow: 10px 0 0 0 var(--c-red), 0 -10px 0 0 var(--c-red), 10px -10px 0 0 var(--c-red);
    left: -10px;
    top: 10px
}


/* structure */

header,
footer,
section {
    margin: 50px;
}


.color-blue {
    color: var(--c-blue);
}
.color-orange {
    color: var(--c-orange);
}
.bg-neon {
    background-color: var(--c-neon);
}
.border-neon {
    border: var(--border);
}

.rotate-left-sm {
    transform: rotate(-7deg);
}
.rotate-right-sm {
    transform: rotate(7deg);
}
.rotate-left-md {
    transform: rotate(-12deg);
}
.rotate-right-md {
    transform: rotate(12deg);
}

.marquee {
    display: block;
    width: calc(100% + 100px);
    margin: 0 0 0 -50px;
}


/* POSITIONING & LAYOUT ----------------------------------------*/
.sr-only {
    display: block;
    position: absolute;
    left: -3000px;
    top: 0;
    pointer-events: none;
}

.fixed-top,
.fixed-bottom {
    position: fixed;
    left: 0;
    background: var(--c-blue);
    border: var(--border);
    z-index: 1;
}
.fixed-top {
    top: 0;
    border-top: 0 !important;
}
.fixed-bottom {
    top: calc(100% - 50px);
    border-bottom: 0 !important;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: middle;
    grid-column-gap: 50px;
}
.grid--hero {
    grid-template-columns: max-content auto;
}

.constrain {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.pull-up {
    margin-top: -25px;
}



/* CONTENT ----------------------------------------*/
.logo {}
.logo__img {
    width: 437px;
    height: auto;
}

/* burst items */
.burst {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.burst--orange {
    background-image: url('img/burst-orange.png');
    width: 232px;
    height: 181px;
}
.burst--outline {
    background-image: url('img/burst-outline.png');
    width: 231px;
    height: 182px;
    color: var(--c-orange);
}
.burst--neon {
    background-image: url('img/burst-neon.png');
    width: 239px;
    height: 173px;
    color: var(--c-orange);
    font-size: 1.125em;
}
.burst__words {
    display: inline-block;
    margin: 0 30px;
}

/* other iamges */
.icon {
    display: inline-block;
    height: var(--lh1);
    vertical-align: text-bottom;
}

.arrow {
    display: inline;
    text-align: left;

}
.arrow__img {
    height: auto;
    width: 113px;
}

.img-happy-earth {
    height: 129px;
    width: auto;
}
