:root {
    --c-blue:   #052096;
    --c-neon:   #DCFF48;
    --c-orange: #ED5E37;
    --c-red:    #7E321E;

    --f-normal:     titling-gothic-fb, sans-serif;
    --f-extended:   titling-gothic-fb-extended, sans-serif;
    --f-wide:       titling-gothic-fb-wide, sans-serif;

    --border:   3px solid var(--c-neon);
}

* {
    box-sizing: border-box;
}

html, body {
    color: var(--c-neon);
    background-color: var(--c-blue);
    margin: 0;

    font-family: var(--f-wide);
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;

    /* P size */
    font-size: 32px;
    line-height: 46px;
}

/* h1 is just over the logo */
h1 {
    margin: 0;
}
/* h2 is the footer title */
h2 {
    font-size: 74px;
    line-height: 89px;
}
/* h3 are section titles */
h3 {
    font-size: 34px;
    line-height: 41px;
}
/* affixed marquees up top */
h4 {
    font-family: var(--f-extended);
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    border: var(--border);
}
/* marquee midway through */
h5 {
    font-size: 24px;
    line-height: 29px;
    border: var(--border);
}
/* calphalon */
h6 {
    font-size: 20px;
    line-height: 29px;
}

p {
    font-family: var(--f-normal);
    font-weight: normal;
    text-transform: none;
}
.zest-sm {
    font-size: 18px;
    line-height: 25px;
}
.zest-md {
    font-size: 26px;
    line-height: 38px;
}
button,
.zest-lg {
    font-size: 38px;
    line-height: 46px;
}

button {
    border-radius: 30px;
    padding: 1em 4em;
    border: var(--border);
    box-shadow: -10px 0 0 0 var(--c-red), 0 10px 0 0 var(--c-red), -10px 10px 0 0 var(--c-red);
    position: relative;
    left: 0;
    top: 0;
    background-color: var(--c-orange);
    outline: none;
}
button:active {
    box-shadow: 10px 0 0 0 var(--c-red), 0 -10px 0 0 var(--c-red), 10px -10px 0 0 var(--c-red);
    left: -10px;
    top: 10px
}



.color-blue {
    color: var(--c-blue);
}
.color-orange {
    color: var(--c-orange);
}
.bg-neon {
    background-color: var(--c-neon);
}

.rotate-left-15 {
    transform: rotate(-15deg);
}
.rotate-right-15 {
    transform: rotate(15deg);
}
.rotate-left-30 {
    transform: rotate(-30deg);
}
.rotate-right-30 {
    transform: rotate(30deg);
}

.border-neon {
    border: var(--border);
}
.marquee {
    display: block;
    width: calc(100% + 100px);
    margin: 0 0 0 -50px;
}

.fixed-top,
.fixed-bottom {
    position: fixed;
    top: 0;
    left: 0;
    border-top: 0 !important;
}
.fixed-bottom {
    top: calc(100% - 50px);
    border-bottom: 0 !important;
}
